body {
    background: rgb(58, 57, 57);
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Fredoka+One&family=Passion+One&display=swap');

h1 {
    color: rgb(14, 248, 131);
    text-align: center;
    font-size: 90px;

}

h2 {
    text-align: center;
    font-size: 37px;
    color: white;
    font-family:'Franklin Gothic Medium';
    font-weight: 400;
}

#DIa {
    font-family:'Franklin Gothic Medium';
    font-weight: 200;
    border-radius: 35px;
    background-color: rgb(21, 226, 130);
    color: rgb(231, 231, 231);
    padding: 35px;
    font-size: 40px;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;

}

#DIb {
    font-family:'Franklin Gothic Medium';
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000;
    border-radius: 1cm;
    background-color: rgb(21, 226, 130);
    color: white;
    padding: 40px;
    text-align: center;
    width: 100pc;
    margin-left: auto;
    margin-right: auto
}

#DIc {
    display: inline-block;
    font-size: 25px;
    padding: 20px;
    word-spacing: 50px;
}

#logIF {
    max-width: 300px;
    max-height: 150px;
    width: auto;
    height: auto;
}

header {
    background-color: rgb(21, 226, 130);
    color: white;
    padding: 10px;
    border-radius: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    font-family:'Franklin Gothic Medium';
    font-weight: 400;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
}

#Links {
    color: rgb(58, 57, 57);
    background-color: white;
}

#Links:hover {
    text-decoration: none;
    border: solid;
    border-width: 2px;
    font-weight: bold;
}

#SFP {
    font-size: xx-small;
    color: white;
    text-align: center;
}
#Bone{
    display: block;
    margin-left: auto;
    margin-right: auto
}